.feedback-card {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.feedback-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}

.feedback-answer {
  text-align: center;
  margin-bottom: 10px;
}

.feedback-score {
  text-align: center;
  margin-bottom: 20px;
}

.restart-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: rgb(27, 6, 122);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.restart-button:hover {
  background-color: rgb(49, 4, 214);
}

.restart-button:focus {
  outline: none;
}
