.container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.question-list {
  margin-bottom: 20px;
}

.question-list .question {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.question-list .question.selected {
  background-color: #eaf6fd;
}

.question-text {
  font-weight: bold;
  margin-bottom: 10px;
}

.options {
  display: flex;
  flex-direction: column;
}

.option {
  margin-bottom: 5px;
}

.submit-button {
  background-color: rgb(27, 6, 122);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: rgb(49, 4, 214);
}

.question-container {
  padding: 24px;
  margin-bottom: 10px;
  width: 265px;
  // height: 126px;
  background: #f0f0f0;
  color: #333;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-width: 1px;
  border-radius: 0.5rem;
  border-color: rgb(229 231 235);
}

.question-title {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.header {
  height: 100px;
}
